/****************************************************************************


V.RC
  Minimal .RC for V applications


*****************************************************************************/

vAppIcon ICON vide.ico
vWindowIcon ICON vwindow.ico
