/****************************************************************************

V.RC
  Minimal .RC for V applications

*****************************************************************************/

vAppIcon ICON examp.ico
vWindowIcon ICON examp.ico
